body{
  background-color:#000000;
  padding: 0;
  margin: 0;
  background: url("https://www.wallpapertip.com/wmimgs/5-58831_harry-potter-wallpaper-pc.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  cursor: url(varita-magica5.png), pointer;
}

nav{
  background: #363062;
  height: 80px;
  width: 100%;
}

nav ul{
  float: right;
  margin: 0 7px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
}

nav ul li a{
  color: #D8B9C3;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

li a:hover{
  background: #4D4C7D;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

main{
  height: calc(100vh - 80px - 80px);
}

h1{
  margin: 0px auto;
  padding: 20px 0px ;
  width: 100%;
  display:flex;
  justify-content:center;
  font-family: 'Vidaloka';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 97px;
  color: #FFFDFE;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p{
  font-family: 'Benne';
    font-style: normal;
    font-weight: 400;
    padding-right: 50px;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: left;
    float: right;
    width: 40%;
    color: #FFFFFF;
}

footer{
  position: absolute;
  background: #363062;
  height: 80px;
  width: 100%; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  margin: auto;
  display: flex;
  justify-content:center;
  align-items:center;
  color: #D8B9C3;
}

h2{
  display: flex;
  color: #FFFDFE;
  font-family: 'Vidaloka';
  font-size: 60px;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
}

#filtrosBuscaBtnO{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:60px;  
}

.todoOrdenar{
  display: flex ;
  flex-direction: column;
  justify-content:center;
  float:right;
  margin: 20px;
}

.btnOrdenar{
float: right;
justify-content:center;
background-color: transparent;
border: none;
}

.imgOrdenar{
  width: 50px;
  height:50px; 
}

#orden{
display: none;
background-color:#D8B9C3;
color: #363062;
}

#ordenH{
display: none;
background-color:#D8B9C3;
color: #363062; 
}

#ordenP{
  display: none;
  background-color:#D8B9C3;
  color: #363062; 
  }

.todosFiltros{
  position: fixed;
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  z-index: 10;
}

.menuSelect{
  display: flex;
  flex-direction: row;
  height: auto;
  float: left;
  align-items: center;
}

.menuFiltros{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    background-color: #363062;    
    align-items: center;
}

.pintarFiltros{
  background: #4D4C7D; ;
}

.iconos{
  height: 30px;
  width: 45px;
  fill: #D8B9C3;
  padding-top: 15px;
}

.filtros{
  line-height: 40px;    
  text-align: center;
  height: 40px;
  width: 80px;
  height: auto;
  }

.filtroPrincipal{
display:none;
}

#casa{
  display:none;
}

#especie{
  display:none;
}

#genero{
  display:none;
}

#asc{
  display:none;
}

.filtrosSelect{
    display: flex;
    flex-direction: column;
    width:auto;
    height:auto;
    justify-content: center;  
}

.select{
  height: 60px;
  width: 205px;
  color:#363062;
  background-color:#D8B9C3;
}

.buscar{
  display:none;
  background-color:#D8B9C3 ;
  width: 205px;
  height:58px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: #363062;
}

.buscar::placeholder{
  color: #363062;
}

#mostrarPatronusoVarita{
display: none;
height: 10rem;
width: 15rem;
background-color: white;
text-align: center;
}

.personajesContainer{
display:flex;
justify-content: center;
width:auto;
height:auto;
margin: 20px 60px;
}

.persContainerOrdenado{
display:flex;
justify-content: center;
width:auto;
height:auto;
margin: 20px 60px;
}
.persContainerFiltrados{
display:flex;
justify-content: center;
width:auto;
height:auto;
margin: 20px 60px;
}

#personajes{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 20px;
width:auto;
height:auto;
justify-content: center; 
}

#personajesOrdenados{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 20px;
width:auto;
height:auto;
justify-content: center; 
}

#personajesFiltrados{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 20px;
width:auto;
height:auto;
justify-content: center; 
}

.divPersonajes {
background-color: #D8B9C3;
color: #0F044C; 
padding: 20px;
text-align:center;
justify-content: space-between;
border-radius: 0.5rem;
transition: background-color .5s;
display: inline;
font-family: 'Vidaloka';
font-weight: bold;
opacity:0.9;
font-size: 18px;
}

.nombrePersonajes{
background-color: #D8B9C3;
color: #0F044C;
height: auto;
width: auto;
text-align:center;
margin-bottom:20px;
}

.divBtn{
background-color: #D8B9C3;
height: 30px;
width:200px;
text-align:center;
display: flex;
justify-content: space-between;
margin-top:20px;
}

.btnPatronus{
background-color: #4D4C7D;
border-radius: 0.3rem;
border: none;
height: 2rem;
width: 6rem;
font-weight: bold;
text-align:center;
color: white;
cursor: pointer;
}

.btnDatos{
background-color: #4D4C7D;
border-radius: 0.3rem;
border: none;
color: white;
height: 2rem;
width: 6rem;
font-weight: bold;
text-align: center ;
cursor: pointer;
}

.patronusDiv{
position:fixed;
background-color: #363062;
color: #D8B9C3;
height: 200px;
width: 400px;
font-size:20px;
margin: 20px 60px;
display: flex;
flex-direction: column;
padding: 20px;
border-radius: 0.3rem;
text-align:center;
}

.divNomPatCerrar{
display: flex;
justify-content: space-between;
margin-bottom: 20px;
}

.datosDiv{
position:fixed;
background-color: #363062;
color: #D8B9C3;
height: 360px;
width: 400px;
box-sizing: border-box;
display: flex;
padding: 20px;
font-size: 15px;
border-radius: 0.3rem;
justify-content: space-between;
margin-top:-30px;
}

.cerrar{
margin: 0 7px;
height: 2rem;
width: 2rem;
float: right; 
cursor: pointer; 
}

img{
height: 120px;
width: auto;
text-align:center;
}

.pintarOpcionNav{
background: #4D4C7D;
}

.despintarOpcionNav{
background:#363062;
}

#mostrarPersonajes{
display: none;
}

#mostrarHechizos{
display: none;
}

#mostrarPociones{
display: none;
}

#hechizos{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 20px;
width:auto;
height:auto;
justify-content: center; 
}

.divHechizos {
background-color: #D8B9C3;
color: #0F044C; 
padding: 20px;
text-align:center;
justify-content: space-between;
border-radius: 0.5rem;
transition: background-color .5s;
display: inline;
width: 310px;
height:auto;
font-family: 'Vidaloka';
font-weight: bold;
opacity:0.9;
font-size: 18px;
}

.datosDivHechizos{
position:fixed;
background-color: #363062;
color: #D8B9C3;
height: 400px;
width: 600px;
display: flex;
padding: 20px;
font-size: 15px;
border-radius: 0.3rem;
justify-content: space-between;
margin-top:-70px;
}

.divPociones{
background-color: #D8B9C3;
color: #0F044C; 
padding: 20px;
text-align:center;
justify-content: space-between;
border-radius: 0.5rem;
transition: background-color .5s;
display: inline;
width: 310px;
height:auto;
font-family: 'Vidaloka';
font-weight: bold;
opacity:0.9;
font-size: 18px;
}

#pociones{
  display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 20px;
width:auto;
height:auto;
justify-content: center;   
}

.descriDiv{
  font-size: 15px;
  font-family: 'Lato';
  color:#363062
}

#conteo{
    display:none;
    color: #FFFDFE;
    font-family: 'Benne';
    font-size: 22px;
    text-align: center;
    background-color: #363062;
    width: 650px;
    margin: 0px auto;
    height: 45px;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 8px;
}

.grafico{
  /* position:fixed; */
  background-color: #363062;
  color: #D8B9C3;
 /*  display: flex; */
  width:400 px;
  height:300 px;
/*   padding: 20px;
  font-size: 15px;
  border-radius: 0.3rem;
  justify-content: space-between; */
  }

  canvas {
/*     height: 100px;
    width: 200px; */
    border : 1px solid red;
  }

#personajeBuscado{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width:auto;
    height:auto;
    justify-content: center; 
  }

.divMensaje{
    color:#FFFFFF;
    /* background-color: aqua; */
  }

  @media (max-width: 1037px){
    
    h1{
      font-size: 60px;
    }
  
    p{
      font-size: 18px;
      line-height: 29px;
      display: flex;
      width: 40%;
    }
  
    footer{
    font-size: 18px;
    } 

  }
  
  @media (max-width: 858px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 100vh;
        background-color: #D8B9C3;
        top: 80px;
        left: -120%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
        mix-blend-mode: normal;
    }

    nav ul li a{
        font-size: 20px;
        color:#363062;
    }

    li:hover{
        background: none;
        color:#363062;
        mix-blend-mode: normal;
    }

    #check:checked ~ ul{
        left:0;
    }

    .pintarOpcionNav{
      background:#827397;
      color: white;
      }
    
    h1{
      font-size: 50px;
    }
  
    p{
      font-size: 15px;
      float:none;
      display: flex;
      justify-content: center;
      float: none;
      margin: 0px auto;
      width: 60%;
      padding: 0px;
    }
  
    footer{
    font-size: 13px;
    } 

h2{
  font-size: 50px;
}

#conteo{
      display:none;
      color: #FFFDFE;
      font-family: 'Benne';
      font-size: 15px;
      width: 350px;
      margin: 0px auto;
      height: 45px;
      border-radius: 7px;
  }

  .iconos{
    height: 20px;
    width: 35px;
    padding-top: 10px;
  }

  .filtros{
    width: 60px;
  }

  .select{
    height: 45px;
  }

  .select:hover{
    height: 45px;
  }

  #buscar{
    height:43px ;
    font-size: 15px;
  }

  .datosDiv{
    width: 340px;
  }  

  .datosDivHechizos{
    width: 300px;
    overflow: scroll;
  }

  }
  
@media only screen
and (min-device-width: 320px)
and (max-device-width: 736px)
and (orientation: portrait)
{
  main{
    height: calc(88vh - 90px - 90px);
  }
  .checkbtn{
    display: block;
}

.checkbtn{
  font-size: 80px;
  color: #fff;
  float: right;
  line-height: 2;
  margin-right: 40px;
}

nav{
  background: #363062;
  height: 180px;
  width: 100%;
}

ul{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: #D8B9C3;
    top: 180px;
    left: -120%;
    text-align: center;
    transition: all .5s;
}

nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 90px;
}

nav ul li a{
    font-size: 60px;
    color:#363062;
}

li:hover{
    background: none;
    color:#363062;
}

#check:checked ~ ul{
    left:0;
}

.pintarOpcionNav{
  background:#827397;
  color: white;
  }
  
  h1{
    font-size: 80px;
    margin: 60px auto;
  }
  
  p{
    font-family: 'Benne';
    font-size: 53px;
    line-height: 65px;
    display: flex;
    text-align: left;
    float: none;
    background-color: rgba(216, 185, 195, 0.308);
    width: 75%;
    color:white;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  footer{
    height: 190px;
    width: 100%;
    font-size: 43px;
    line-height: 50px;
    padding-left: 50px;
    box-sizing: border-box;
    } 

  h2{
  font-size: 100px; 
  }

#conteo{
  display:none;
  font-size: 45px;
  width: 650px;
  height: 135px;
  border-radius: 18px;
}

.iconos{
height: 100px;
padding-top: 10px;
}

.filtros{
width: 140px;
}

.select{
height: 100px;
}

#buscar{
height: 100px;
font-size: 35px;
}

#personajes{
margin-top: 50px;
gap: 40px;
}

.divPersonajes{
  box-sizing: border-box;
  height: 650px;
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 45px;
}

img{
  height: 330px;
}

.divBtn{
  height: auto;
  width: 550px;
}

.btnDatos{
  border-radius: 0.8rem;
  height: auto;
  width: 267px;
  font-size: 35px;
  padding: 1rem;
}

.btnPatronus{
  border-radius: 0.8rem;
  height: auto;
  width: 267px;
  font-size: 35px;
  padding: 1rem;
}

.datosDiv{
font-size: 40px;
 width: 650px;
 height: 630px;
 padding: 40px;
overflow: scroll;
}  

.patronusDiv{
  width: 600px;
  height: 500px;
  font-size: 50px;
  overflow: scroll;
}

.cerrar{
height: 3.5rem;
width: 3.5rem;
font-size: 33px;
color: #363062;
font-weight:bold ;
}

#hechizos{
  gap:40px;
}

.divHechizos{
  box-sizing: border-box;
  height: 250px;
  width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 45px;
}

.datosDivHechizos{
  font-size: 40px;
 width: 650px;
 height: 630px;
 padding: 40px;
  overflow: scroll;
  }

#pociones{
  gap:40px;
}

  .divPociones{
    box-sizing: border-box;
    height: 350px;
    width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 45px;
  } 

  .descriDiv{
    font-size: 35px;
  }
}
  
#hechizosBuscados{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width:auto;
  height:auto;
  justify-content: center;
}

#personajeBuscado{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width:auto;
  height:auto;
  justify-content: center; 
}


#pocionesOrdenadas{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 20px;
width:auto;
height:auto;
justify-content: center; 
}

#pocionesBuscadas{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 20px;
width:auto;
height:auto;
justify-content: center; 
}

#hechizosOrdenados{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 20px;
width:auto;
height:auto;
justify-content: center; 
}
