body{
    background:#000000;
    padding: 0;
    margin: 0;
    background: url("https://www.wallpapertip.com/wmimgs/5-58831_harry-potter-wallpaper-pc.jpg") no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
}

nav{
    background: #363062;
    height: 80px;
    width: 100%;
}

.enlace{
    position: absolute;
    padding: 20px 50px;
}

nav ul{
    float: right;
    margin: 0 7px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a{
    color: #D8B9C3;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

li a.active, li a:hover{
    background: #4D4C7D;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/*#castillo{
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}*/

main{
    /*
    background: url("https://www.wallpapertip.com/wmimgs/5-58831_harry-potter-wallpaper-pc.jpg") no-repeat;
    background-size: contain;
    background-position: center center;*/
    height: calc(100vh - 80px - 80px);
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}

h1{
    position: absolute;
    width: 689px;
    height: 97px;
    left: 350px;
    top: 60px;

    font-family: 'Vidaloka';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 97px;

    color: #FFFDFE;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p{
    position: absolute;
    width: 650px;
    height: 362px;
    left: 600px;
    top: 140px;
    
    font-family: 'Benne';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    
}

footer{
    position: absolute;
    background: #363062;
    height: 80px;
    width: 100%; 

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin: auto;

    color: #D8B9C3;
}